html {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

body {
    font-family: 'Raleway', sans-serif !important;
}

header {
    margin-bottom: 10rem;
}